table, th, td {
    border: 1px solid black;
    width: 300px;
}

table{
    margin-top: 20px;
}

thead {
    color: black;
}

tbody {
    color: blue;
}

tfoot {
    color: black;
}

nav{
    min-width: 540px;
}

