table, th, td {
    border: 1px solid black;
    /*width: 300px;*/
}

table{
    margin-top: 20px;
}

nav{
 /*   min-width: 540px;*/
}

.statusLabel{
    text-transform: uppercase;

}

#nav-title{
    line-height: 46px;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    #nav-title {
        font-size: 19px;
        line-height: 25px;
    }
}

.jumbotron{
    padding: 20px;
}

