<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img th:src="@{/image/sparql-icon.png}" src="../static/image/sparql-icon.png"
             class="d-inline-block align-top rounded-circle"
             height="10%" width="10%" alt=""/>
        <span id="nav-title" class="col-md-3">SPARQL ENDPOINT AVAILABILITY</span>
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="navbar-nav ml-auto">
            <div class="dropdown nav-item">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        th:text="#{language.name}">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a th:class="'dropdown-item ' + ${#strings.equals('en', #strings.toString(#locale)) ? 'active' : ''}"
                       href="?lang=en">English</a>
                    <a th:class="'dropdown-item ' + ${#strings.equals('it', #strings.toString(#locale)) ? 'active' : ''}"
                       href="?lang=it">Italiano</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navbar -->