<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
<!--        <img th:src="@{/image/sparql-icon.png}" src="../static/image/sparql-icon.png"-->
<!--             class="d-inline-block align-top rounded-circle"-->
<!--             height="10%" width="10%" alt=""/>-->
        <span id="nav-title" class="col-md-3">SPARQL ENDPOINT AVAILABILITY</span>
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="${@environment.getProperty('server.servlet.context-path')}">
                    <span class="fa fa-home"></span>
                    <span class="text">Home</span>
                </a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-language"></span>
                    <span class="nav-link-text">Language</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="en_item" class="dropdown-item" th:href="${@environment.getProperty('server.servlet.context-path')} + ${#request.getServletPath}+'?lang=en'">English</a>
                    <a id="it_item" class="dropdown-item" th:href="${@environment.getProperty('server.servlet.context-path')} + ${#request.getServletPath}+'?lang=it'">Italian</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="${@environment.getProperty('server.servlet.context-path')}+'/user'">
                    <span class="fa fa-user"></span>
                    <span class="nav-link-text">Account</span>
                </a>
            </li>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="${@environment.getProperty('server.servlet.context-path')}+'/user/management'">
                        <span class="fa fa-user-plus"></span>
                        <span class="nav-link-text">User Management</span>
                    </a>
                </li>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" th:href="${@environment.getProperty('server.servlet.context-path')}+'/sparql/management'">
                        <span class="fa fa-database"></span>
                        <span class="nav-link-text">Sparql Management</span>
                    </a>
                </li>
            </div>

            <li class="nav-item">
                <a id="logout" class="nav-link" th:href="${@environment.getProperty('server.servlet.context-path')}+'/logout'">
                    <span class="fa fa-sign-out"></span>
                    <span class="nav-link-text">Logout</span>
                </a>
            </li>
            <!-- language dropdown -->

        </ul>
    </div>
</nav>
<!-- end navbar -->