<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang=""
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <base th:href="${@environment.getProperty('server.servlet.context-path')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User info</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script th:src="|${@environment.getProperty('server.servlet.context-path')}/js/bootstrap.js|"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        var copyText, tooltip;

        function copy() {
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            tooltip.innerHTML = "Copied!";
        }

        function outFunc() {
            tooltip.innerHTML = "Copy to clipboard";
        }

        window.onload = function() {
            copyText = document.getElementById("jwtToken");
            tooltip = document.getElementById("myTooltip");
        }
    </script>
</head>

<body>
<!-- include navbar -->
    <div th:include="'navbar'"></div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 th:text="#{user.info}">User info</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" th:value="${user.username}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="role" th:text="#{user.role}">Role</label>
                                            <input type="text" class="form-control" id="role" th:value="${user.role}" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="jwtToken">JWT Token</label>
                                            <input class="form-control" id="jwtToken" th:value="|${prefix_jwt}${user.jwtToken}|" disabled>
                                            <br>
                                            <div class="mytooltip">
                                              <button onclick="copy()" onmouseout="outFunc()" class="btn btn-info">
                                                  <span class="tooltiptext" id="myTooltip">Copy to Clipboard</span>
                                                Copy
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>