<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang=""
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User management</title>
    <base th:href="${@environment.getProperty('server.servlet.context-path')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/image/sparql-icon.png}"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script th:src="|${@environment.getProperty('server.servlet.context-path')}/js/bootstrap.js|"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
</head>
<body>
    <!-- include navbar -->
    <div th:include="'navbar'"></div>

    <!-- message -->
    <div th:if="${errorMessage != null}">
        <div id="error-messagge" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
    </div>
    <div th:if="${successMessage != null}">
        <div id="success-message" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Management</h3>
                    </div>
                    <div class="card-body">
                        <table id="user-table" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Enabled</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${users}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.role}"></td>
                                <td th:text="${user.enabled}"></td>
                                <td>
                                    <a th:if="${#authentication.name != user.username}"
                                       th:href="@{/user/management/disable(u=${user.username})}" class="btn btn-primary">Disable</a>
                                    <a th:if="${#authentication.name != user.username}"
                                       th:href="@{/user/management/delete(u=${user.username})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>