<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Status Sparql Endpoint</title>
        <link rel="icon" th:href="@{/image/sparql-icon.png}"/>
        <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
        <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sparql-endpoint-table').DataTable(
                        {
                            "pageLength": 50,
                            dom:"<'myfilter col-sm-12 col-md-6'f><'mylength col-sm-12 col-md-6'l><'mylength col-sm-12 col-md-6'p><'myfilter col-sm-12 col-md-6'i>t"
                        });
            });
        </script>
    </head>

    <body>


        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img th:src="@{/image/sparql-icon.png}" src="../static/image/sparql-icon.png"
                     class="d-inline-block align-top rounded-circle"
                     height="10%" width="10%" alt=""/>
                <span id="nav-title" class="col-md-3">SPARQL ENDPOINT AVAILABILITY</span>
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="navbar-nav ml-auto">
                    <div class="dropdown nav-item">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                th:text="#{language.name}">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a th:class="'dropdown-item ' + ${lang.equals('en')? 'active' : ''}"
                               href="/sparql-endpoint-availability?lang=en">English</a>
                            <a th:class="'dropdown-item ' + ${lang.equals('it')? 'active' : ''}"
                               href="/sparql-endpoint-availability?lang=it">Italiano</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navbar -->

        <!--jumbotron-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4" th:text="#{service.title}">Title</h1>
                <p class="lead"
                   th:utext="#{service.description1}+'<br><code>ASK {?s ?p ?o}</code><br>'+#{service.description2}">
                    Description</p>
                <hr>
                <div class="lead">
                    <p th:text="#{last.update(${lastUpdate})}">Last Update:</p>
                    <p th:text="#{service.weeks.passed(${daysPassed})}">Days Passed</p>
                    <p th:text="#{number.available(${numberActive},${sparqlStatusMap.size()})}">Endpoints Available</p>
                </div>
                <hr>
                <div class="lead">
                    <p>
                    <span th:text="#{group.message}"></span>
                    <a th:href="'mailto:'+ #{group.email}" th:text="#{group.email}">ml@unife.it</a>
                    </p>
                </div>
            </div>
        </div>

        <fieldset th:if="${not #maps.isEmpty(sparqlStatusMap)}" class="border p-2 container">
            <legend th:text="#{legend}" class="w-auto">Legend</legend>
            <div class="row container">
                <div class="col-sm-2 media">
                    <img class="float-left mr-3" th:src="@{/image/green.png}" src="../static/image/green.png" alt="">
                    <span class="media-body" th:text="#{status.active}"></span>
                </div>
                <div class="col-sm-3 media">
                    <img class="float-left mr-3" th:src="@{/image/orange.png}" src="../static/image/orange.png" alt="">
                    <span class="media-body" th:text="#{status.inactive.lessday}"></span>
                </div>
                <div class="col-sm-3 media">
                    <img class="float-left mr-3" th:src="@{/image/red.png}" src="../static/image/red.png" alt="">
                    <span class="media-body" th:text="#{status.inactive.lessweek}"></span>
                </div>
                <div class="col-sm-4 media">
                    <img class="float-left mr-3" th:src="@{/image/gray.png}" src="../static/image/gray.png" alt="">
                    <span class="media-body" th:text="#{status.inactive.moreweek}"></span>
                </div>
            </div>
        </fieldset>

        <!--table-->
        <div th:if="${not #maps.isEmpty(sparqlStatusMap)}" class="container table-responsive">
            <table class="table table-striped" id="sparql-endpoint-table">
                <caption th:text="#{title.list}">List of SPARQL Endpoint</caption>
                <thead class="thead-dark">
                    <tr>
                        <!--<th style="width: 4%" scope="col">ID</th>-->
                        <th class="sparql-name" scope="col" th:text="#{col.name1}">SPARQL Endpoint</th>
                        <th class="sparql-url" scope="col" th:text="#{col.name2}">URL</th>
                        <th class="sparql-status" scope="col" th:text="#{col.name3}">STATUS</th>
                        <th class="sparql-uptime" scope="col" th:text="#{col.name4}">Uptime last 24h</th>
                        <th class="sparql-uptime" scope="col" th:text="#{col.name5}">Uptime last 7days</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:scope="row" th:each="service : ${sparqlStatusMap}">
                        <!--<td th:text="${service.key}"></td>-->
                        <td class="sparql-name" th:text="${service.value.name}">SPARQL Endpoint</td>
                        <td class="sparql-url text-break"><a th:text="${service.value.URL}"
                                                             th:href="${service.value.URL}">Service</a></td>
                        <td class="sparql-status lead" th:switch="${service.value.statusString}">
                            <div th:case="${@environment.getProperty('sparql.endpoint.status.active')}">
                                <img th:src="@{/image/green.png}" src="../static/image/green.png" alt="active"/>
                                <span style="display:none;">active</span>
                            </div>

                            <div th:case="${@environment.getProperty('sparql.endpoint.status.inactive_lessday')}">
                                <img th:case="${@environment.getProperty('sparql.endpoint.status.inactive_lessday')}"
                                     th:src="@{/image/orange.png}" src="../static/image/orange.png" alt="inactive_lessday"/>
                                <span style="display:none;">inactive_lessday</span>
                            </div>

                            <div th:case="${@environment.getProperty('sparql.endpoint.status.inactive_lessweek')}"> 
                                <img th:src="@{/image/red.png}" src="../static/image/red.png" alt="inactive_lessweek"/>
                            </div>

                            <div th:case="${@environment.getProperty('sparql.endpoint.status.general_inactive')}">
                                <img th:src="@{/image/red.png}" src="../static/image/red.png" alt="general_inactive"/>
                                <span style="display:none;">inactive</span>
                            </div>

                            <div th:case="${@environment.getProperty('sparql.endpoint.status.inactive_moreweek')}">
                                <img th:src="@{/image/gray.png}" src="../static/image/gray.png" alt="inactive_moreweek"/>
                                <span style="display:none;">inactive_moreweek</span>
                            </div>

                        </td>
                        <td class="sparql-uptime" th:if="${service.value.uptimeLast24h >= 0}" 
                            th:text="${#numbers.formatPercent(service.value.uptimeLast24h,1,2)}">Uptime last 24h</td>
                        <td class="sparql-uptime" th:if="${service.value.uptimeLast24h < 0}" >N/A</td>
                        <td class="sparql-uptime" th:if="${service.value.uptimelast7d >= 0}"
                            th:text="${#numbers.formatPercent(service.value.uptimelast7d,1,2)}">Uptime last 7d</td>
                        <td class="sparql-uptime" th:if="${service.value.uptimelast7d < 0}" >N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <p class="lead display-4" th:if="${#maps.isEmpty(sparqlStatusMap)}" th:text="#{nodata}">No data found</p>
        </div>

    </body>

</html>
